<a href="https://colab.research.google.com/github/Zenith1618/Pandas/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

series - columns


dataframe -2d(rows and column)

In [3]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([1,1,1,1,1])
s1*s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [6]:
# Convert List to series of element
l = [10,20,30,40,50]

s1 = pd.Series(data = l, index = ['a','b','c','d','e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [9]:
# Convert dict into series of elements
d1 = {'a':1,'b':2,'c':30}
s2 = pd.Series(d1)

s2

a     1
b     2
c    30
dtype: int64

In [10]:
# create a dataframe

df1 = pd.DataFrame(np.random.randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
df1

          w         x         y         z
a -0.466827 -1.929532 -0.660196  1.656833
b  0.030457 -0.594191  0.516005 -0.574418
c  0.464731  0.701050 -1.503308  1.111018
d -0.211637 -0.405138 -0.554666 -0.932237
e -0.976005  0.514670  0.527394  0.862737

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [12]:
df1[['w','x']]    #because we are passing two column

          w         x
a -0.466827 -1.929532
b  0.030457 -0.594191
c  0.464731  0.701050
d -0.211637 -0.405138
e -0.976005  0.514670

In [13]:
df1['w']

a   -0.466827
b    0.030457
c    0.464731
d   -0.211637
e   -0.976005
Name: w, dtype: float64

In [14]:
df1.w

a   -0.466827
b    0.030457
c    0.464731
d   -0.211637
e   -0.976005
Name: w, dtype: float64

In [16]:
# data selection

# accessing data with index value - Use loc
print(df1.loc['a'])

# accessing data using with row number
print(df1.iloc[0])


#access a block of data
print(df1.loc[['a','c'],['w','y']])

w   -0.466827
x   -1.929532
y   -0.660196
z    1.656833
Name: a, dtype: float64
w   -0.466827
x   -1.929532
y   -0.660196
z    1.656833
Name: a, dtype: float64
          w         y
a -0.466827 -0.660196
c  0.464731 -1.503308

In [18]:
# subsetting using a boolean condition

df1[df1>0]    # sort of a broadcasting operation

          w        x         y         z
a       NaN      NaN       NaN  1.656833
b  0.030457      NaN  0.516005       NaN
c  0.464731  0.70105       NaN  1.111018
d       NaN      NaN       NaN       NaN
e       NaN  0.51467  0.527394  0.862737

In [19]:
# dropping rows and column
# axis = 0 -->row
# axis = 1 -->column
print(df1.drop('w', axis=1, inplace=False))

          x         y         z
a -1.929532 -0.660196  1.656833
b -0.594191  0.516005 -0.574418
c  0.701050 -1.503308  1.111018
d -0.405138 -0.554666 -0.932237
e  0.514670  0.527394  0.862737

In [21]:
# reset index
df3 = df1.reset_index(drop = True)
df3

          w         x         y         z
0 -0.466827 -1.929532 -0.660196  1.656833
1  0.030457 -0.594191  0.516005 -0.574418
2  0.464731  0.701050 -1.503308  1.111018
3 -0.211637 -0.405138 -0.554666 -0.932237
4 -0.976005  0.514670  0.527394  0.862737

In [22]:
# subsetting and boolean

df1[df1>0][['w','x']]

          w        x
a       NaN      NaN
b  0.030457      NaN
c  0.464731  0.70105
d       NaN      NaN
e       NaN  0.51467

In [23]:
# dropping missing values

#df.dropna()
#df.dropna(axis=1)

#df.dropna(thresh=2)    #requie <2 na value to drop

In [25]:
# mean
df1['w'].mean()

# univariate analysis

-0.2318561918422292

In [26]:
# filling values with something

# df['col'].fillna(value=df['col'].mean())

In [27]:
# replacing specific values

df5 = pd.DataFrame({'one':[10,20,30,40,50, 2000], 'two':[1000,0,30,40,50,60]})

print(df5)
print(df5.replace({1000:10, 2000:60}))
print(df5.replace({30:'replaced'}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60
        one       two
0        10      1000
1        20         0
2  replaced  replaced
3        40        40
4        50        50
5      2000        60

In [ ]:
# group by